.entry {
    margin-bottom: 50px;
    overflow: hidden;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.blogs-view .blog .content {
    padding: 25px;
}

.blogs-view .blog .content h2 {
    font-size: 20px;
    line-height: 26px;
    font-weight: bold;
    padding: 0;
    margin: 0 0 20px 0;
}

.blogs-view a:hover {
    text-decoration: none;
}

.blogs-view .blog .content .blog-title a {
    color: #556270;
    transition: 0.3s;
}

.blogs-view .blog .content .blog-title a:hover {
    color: #2abe8b;
}

.blogs-view .blog .content ul {
    display: flex;
    padding: 0;
}
.blogs-view .blog .content ul li i{
    padding: 0.25rem 0.25rem 0.25rem 0;
}


.blogs-view .blog .content ul li,
.blogs-view .blog .content ul li a {
    list-style: none;
    padding: 0;
    color: #a4afba;
    font-size: 14px;
    line-height: 1;
}
.blogs-view .blog .entry .content p{
    color: #444444;
    line-height: 24px;
    font-size: 15px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/*/////*/
.blogs-footer {
    padding: 15px;
    display: flex;
    justify-content: center;
}

.blogs-view .loading {
    font-size: 26px;
    color: #556270;
    margin-bottom: 50px;
}


@media (max-width: 1024px ) and (min-width:768px){
    .blogs-view .blog .content ul {
        flex-direction: column;
    }

    .blogs-view .blog .content ul li {
        margin-top: 10px;
    }
}

@media (max-width: 450px) {
    .blogs-view .blog .content ul {
        flex-direction: column;
    }

    .blogs-view .blog .content ul li {
        margin-top: 10px;
    }

}