.center {
    display: flex;
    justify-content: center;
}

.main-form {
    margin: 80px 0;
    border-radius: 10px;
    border: none;
    box-shadow: 0 12px 27px 0 #c7c4c4;

}
.login .form-header{
    border-radius:10px 10px 0 0;
    background-color: #c7f1e240;
    border-bottom: 1px solid #8e8e8e2b;
    padding: 1rem 1rem 1rem 2rem;
}
.login .form-header p{
    padding: 0;
    margin: 0;
}

.login .login-body {
    margin: 10px;
    padding: 40px 20px;
}

.my-btn {
    background-color: #2abe8b;
    color: white;
    border-radius: 6px;
    line-height: 2;
    border: none;
}

.my-btn:hover {
    color: white;
    opacity: 80%;
}
.my-btn:focus {
    outline: none;
}

.login input {
    background-color: #f6f6f6;
    border-radius: 6px;
    text-align: center;
    outline: none;
    height: 3.25rem;
}

.login .form-footer {
    padding: 30px 0;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    border-top: 1px solid #dce8f1;
    border-radius: 0 0 10px 10px;
}

.login .form-footer a {
    text-decoration: none;
}

 .welcome-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 80px 0;
    border-radius: 10px;
    border: none;
    box-shadow: 0 12px 27px 0 #c7c4c4;
    background-color: #f2f7f6;
    line-height: 3;
    padding: .5rem;
}

.errorMessage {
    color: red;
    font-size: .8rem;
}

.error {
    border: 1px solid red;
    border-radius: 5px;
}