.blogs-view .blogs-header {
    padding: 15px 15px 40px 15px;
}

.blogs-view .blogs-header a {
    color: #556270;
    font-weight: bold;
    text-transform: capitalize;
    transition: 0.3s;
}

.blogs-view .blogs-header a:hover {
    color: #2abe8b;
}

.blogs-view .blog .content {
    padding: 25px;
}

.blogs-view .blog .content h2 {
    font-size: 20px;
    line-height: 26px;
    font-weight: bold;
    padding: 0;
    margin: 0 0 20px 0;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.blogs-view a:hover {
    text-decoration: none;
}
.blogs-view .title{
    margin: 78px 0 100px 0;
}

.blogs-view .blog .content .blog-title a {
    color: #556270;
    transition: 0.3s;
}

.blogs-view .blog .content .blog-title a:hover {
    color: #2abe8b;
}

.blogs-view .search-panel{
    margin-bottom: 40px;
}
.blogs-view .search-panel .search-bar .my-btn {
    width: 80px;
}

.blogs-view .blog .content ul {
    display: flex;
    padding: 0;
}

.blogs-view .blog .content ul li i {
    padding: 0.25rem 0.25rem 0.25rem 0;
}


.blogs-view .blog .content ul li,
.blogs-view .blog .content ul li a {
    list-style: none;
    padding: 0;
    color: #a4afba;
    font-size: 14px;
    line-height: 1;
}

.blogs-view .blog .entry .content p {
    color: #444444;
    line-height: 24px;
    font-size: 15px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.blogs-view .search-bar #search-bar-blogs{
    border-radius: 6px;
    border: 1px solid #0000004f;
    padding: 10px;
}

.search-panel .search-bar #search-bar-blogs:focus {
    outline: none;
}

/*/////*/
.blogs-footer {
    padding: 15px;
    display: flex;
    justify-content: center;
}

.blogs-view .loading {
    font-size: 26px;
    color: #556270;
    margin-bottom: 50px;
}

.blogs-view .loading .vpn {
    justify-content: center;
    font-size: 0.9rem;
    text-align: center;
}


@media (max-width: 1024px ) and (min-width: 768px) {
    .blogs-view .blog .content ul {
        flex-direction: column;
    }

    .blogs-view .blog .content ul li {
        margin-top: 10px;
    }
}

@media (max-width: 450px) {
    .blogs-view .blog .content ul {
        flex-direction: column;
    }

    .blogs-view .blog .content ul li {
        margin-top: 10px;
    }
}